<div class='page-header'>
  <h3>Scorecards<span class="btn-group pull-right"><%= link_to 'New Scorecard', new_project_scorecard_path(@project), :class => 'btn' %></span></h3>
</div>
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#current_assumptions" data-toggle="tab">Current</a></li>
    <li><a href="#all_assumptions" data-toggle="tab">All</a></li>
    
    <li><a href="#na" data-toggle="tab">Not Applicable</a></li>
    <li><a href="#accepted_assumptions" data-toggle="tab">Accepted</a></li>
    <li><a href="#rejected_assumptions" data-toggle="tab">Rejected</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="current_assumptions">
      <% if @project.current_assumptions.size > 0 %>
      <table class='table table-bordered'>
        <% @project.assumptions.state_all('current').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
      </table>
      <% else %>
        <%= render :partial => '/projects/no_assumption', :locals => {:project => @project }%>
      <% end %>
    </div>
    
    <div class="tab-pane" id="na">
      <% if @project.assumptions.state_all('not_applicable').size > 0 %>
      <table class='table table-bordered'>
        <% @project.assumptions.state_all('not_applicable').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
      </table>
      <% else %>
        <%= render :partial => '/projects/no_assumption', :locals => {:project => @project }%>
      <% end %>
    </div>
    
    <div class="tab-pane" id="all_assumptions">
      <%if @project.assumptions.size > 0%>
      <table class='table table-bordered'>
        <% @project.assumptions.state_all('current').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
        <% @project.assumptions.state_all('not_applicable').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
        <% @project.assumptions.state_all('accepted').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
        <% @project.assumptions.state_all('rejected').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
      </table>
      <% else %>
        <%= render :partial => '/projects/no_assumption', :locals => {:project => @project }%>
      <% end %>
    </div>
    
    <div class="tab-pane" id="accepted_assumptions">
      <%if @project.assumptions.state_all('accepted').size > 0%>
      <table class='table table-bordered'>
        <% @project.assumptions.state_all('accepted').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
      </table>
      <% else %>
        <%= render :partial => '/projects/no_assumption', :locals => {:project => @project }%>
      <% end %>
    </div>
    
    <div class="tab-pane" id="rejected_assumptions">
      <%if @project.assumptions.state_all('rejected').size > 0%>
      <table class='table table-bordered'>
        <% @project.assumptions.state_all('rejected').each do |a| %>
        <%= render :partial => '/projects/assumption_row', :locals => {:assumption => a}  %>
        <% end %>
      </table>
      <% else %>
        <%= render :partial => '/projects/no_assumption', :locals => {:project => @project }%>
      <% end %>
    </div>
    
  </div>
</div>