<%= puts @hypothesis.class%>
<div class='page-header'><h1><%= new_hypothesis_title(@hypothesis) %></h1></div>
<%= form_for([@project, @hypothesis]) do |f| %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="name">Hypothesis</label>
      <div class="controls">
        <%= f.text_area :content, :placeholder => 'Hypothesis', :class => 'span6',:rows => 5 %>
        <%= f.hidden_field :type, :value => @hypothesis.class.to_s %>
      </div>
    </div>
    
      <label class="control-label" for="name">Current</label>
      <div class="controls">
        <%= check_box_tag :current, :checkbox, :value => true %>
      </div>
    </div>
  </fieldset>
  <div class='actions'>
    <%= f.submit 'Create', :class => 'btn btn-large btn-primary' %> <%= link_to 'Cancel', project_url(@project),  :class => 'btn btn-large' %>
  </div>
<% end %>