<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <% if @project && !@project.new_record? %>
        <%= link_to 'lean answers', @project, :class => 'brand'%>
      <% else %>
      <a class="brand" href="/">lean answers</a>
      <% end %>
      <% if logged_in? %>
      <ul class="nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">View All</a></li>
             
            <% unless current_users_projects.size == 0%>
              <li class="divider"></li>
              <% current_users_projects.each do |p| %>
                <li><%=link_to p.name, p %></li>
              <% end %>
            <% end %>
            <li class="divider"></li>
            <li><a href="/projects/new"><b>+</b> New Project</a></li>
            
          </ul>
        </li>
        <% if @project && !@project.new_record? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= @project.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Summary', project_path(@project)%></li>
            <li><%= link_to 'Tasks', project_tasks_path(@project)%></li>
            <li class="divider"></li>
            <li><%= link_to 'Scorecards', project_scorecards_path(@project)%></li>
            <li><%= link_to 'Hypotheses', project_hypotheses_path(@project)%></li>
            <li><%= link_to 'Assumptions', project_assumptions_path(@project)%></li>
            <li><%= link_to 'Experiments', project_experiments_path(@project)%></li>
            <li class="divider"></li>        
            <li><%= link_to 'Documents', project_documents_path(@project)%></li>
            <li class="divider"></li>
            <li><%= link_to 'Members', project_memberships_path(@project)%></li>
          </ul>
        </li>
        <% end %>
      </ul>
      <% end %>
      <ul class="nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= (logged_in? ? 'Account' : 'Login')%> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <% if logged_in? %>
            <li><a href="/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>