<div class='page-header'><h1>New Study</h1></div>
<%= form_for([@project, @study]) do |f| %>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <%= f.text_area :name, :placeholder => 'Name', :class => 'span6',:rows => 5 %>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="description">Description</label>
      <div class="controls">
        <%= f.text_area :description, :placeholder => 'Description', :class => 'span6',:rows => 5 %>
      </div>
    </div>
  </fieldset>
  <div class='actions'>
    <%= f.submit 'Create', :class => 'btn btn-large btn-primary' %> <%= link_to 'Cancel', studies_url,  :class => 'btn btn-large' %>
  </div>
<% end %>