<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#current" data-toggle="tab">Summary</a></li>
    <li><%= link_to 'Tasks', project_tasks_path(@project)%></li>
    <li><%= link_to 'Scorecards', project_scorecards_path(@project)%></li>
    <li><%= link_to 'Hypotheses', project_hypotheses_path(@project)%></li>
    <li><%= link_to 'Assumptions', project_assumptions_path(@project)%></li>
    <li><%= link_to 'Experiments', project_experiments_path(@project)%></li>
    <li><%= link_to 'Documents', project_documents_path(@project)%></li>
    <li><%= link_to 'Members', project_memberships_path(@project)%></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="current">
      
    </div>
  </div>
</div>