<div class='row'>
  <div class='page-header'><h3>Hypotheses<span class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      New Hypothesis
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'New Customer Hypothesis', new_project_hypothesis_path(@project, :type => 'customer') %></li>
      <li><%= link_to 'New Problem Hypothesis', new_project_hypothesis_path(@project, :type => 'problem') %></li>
      <li><%= link_to 'New Solution Hypothesis', new_project_hypothesis_path(@project, :type => 'solution') %></li>
    </ul>
  </span></h3></div>
  <div class="tabbable"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
      <li class="active"><a href="#current" data-toggle="tab">Current</a></li>
      <li><a href="#pending" data-toggle="tab">Pending</a></li>
      <li><a href="#all" data-toggle="tab">All</a></li>
      <li><a href="#accepted" data-toggle="tab">Accepted</a></li>
      <li><a href="#rejected" data-toggle="tab">Rejected</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="current">
        <%if @project.current_hypotheses.size > 0%>
        <table class='table table-bordered'>
          
          <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => @project.current_customer, :hypothesis_type => 'customer'} %>
          <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => @project.current_problem, :hypothesis_type => 'problem'} %>
          <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => @project.current_solution, :hypothesis_type => 'solution'} %>
        </table>
        <% else %>
          <%= render :partial => 'no_hypotheses', :locals => {:project => @project }%>
        <% end %>
      </div>
      
      <div class="tab-pane" id="all">
        <%if @project.hypotheses.size > 0%>
        <table class='table table-bordered'>
          <% @project.hypotheses.state_all('current').each do |p| %>
            <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => p} %>
          <% end %>
        
        <% @project.hypotheses.state_all('accepted').each do |p| %>
          <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => p} %>
        <% end %>
        
        <% @project.hypotheses.state_all('pending').each do |p| %>
          <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => p} %>
        <% end %>
        
        
        <% @project.hypotheses.state_all('rejected').each do |p| %>
            <%= render :partial => 'hypothesis_row', :locals => {:hypothesis => p} %>
        <% end %>
        </table>
        <% else %>
          <%= render :partial => 'no_hypotheses', :locals => {:project => @project }%>
        <% end %>
      </div>
      <div class="tab-pane" id="accepted">
        <%= render :partial => 'hypothesis_table', :locals => {:hypotheses => @project.hypotheses.state_all('accepted')} %>
      </div>
      
      <div class="tab-pane" id="pending">
        <%= render :partial => 'hypothesis_table', :locals => {:hypotheses =>  @project.hypotheses.state_all('pending')} %>        
      </div>
      
      <div class="tab-pane" id="rejected">
        <%= render :partial => 'hypothesis_table', :locals => {:hypotheses =>  @project.hypotheses.state_all('rejected')} %>         
      </div>
    </div>
  </div>
</div>