<% if hypothesis %>
<tr>
  <td>
  <%= render :partial => 'hypothesis_buttons', :locals => {:project => hypothesis.project, :hypothesis => hypothesis}%>
  <p class='hypothesis_description'><span class="label <%= type_css(hypothesis.type)%>">
    <%= hypothesis.type.underscore.titleize %></span> 
    <span class="label <%= state_css(hypothesis.state)%>"><%= hypothesis.state %></span> 
  </p>
  <p class='hypothesis_description'>
    <%= hypothesis.content %>
  </p>
  </td>
</tr>
<% end %>