<% if @projects.size == 0 %>
  <div class='hero-unit'>
    <div class='row'>
      <h1>You don't have any projects?</h1>
    </div>
    <div class='row' style='margin-top:50px;'>
      <%= link_to "Create Project", new_project_path,  :class => 'btn btn-large btn-primary'%>
    </div>
  </div>
<% else %>
  <div class='page-header'><h1>Projects<%= link_to 'New Project', new_project_url, :class => 'btn pull-right'%></h1></div>
  <table class='table'>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
  <% @projects.each do |p| %>
   <tr>
     <td><%= link_to p.name, p %><%= link_to 'Destroy', p, :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-small pull-right' %><%= link_to 'Edit', edit_project_url(p), :class => 'btn btn-small pull-right' %><%= link_to 'View', p, :class => 'btn btn-small pull-right' %></td>
   </tr>
  <% end %>
  </table>
<% end %>